$primary: #ff5a30;
$white: rgba(255, 255, 255, 1);
$semiWhite: rgba(255, 255, 255, 0.5);
$lightlyWhite: rgba(255, 255, 255, 0.2);
$bgInputSubscribe: rgba(255, 255, 255, 0.12);
$borderInputHover: rgba(255, 90, 48, 0.4);
$buttonHover: #fc3300;
$buttonActive: #fc3300;
$success: #03cea4;
$danger: #ff4242;

$gray100: #f9f9f9;
$gray200: #f4f5f6;
$gray300: #e5e8ed;
$gray400: #d7dadd;
$gray500: #b3b7bc;
$gray600: #9a9ca5;
$gray700: #787a80;
$gray800: #424551;
$gray900: #1e212c;
