.display1 {
  //styleName: display/1;
  font-family: Ubuntu;
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
  letter-spacing: 1px;
  text-align: left;
}
.display2 {
  //styleName: display/2;
  font-family: Ubuntu;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: left;
}
